<!--<div class="main-rgt binging">-->
    <!--<h2>我的理财师</h2>-->
    <!--<div class="position"><a href="">我的理财师</a>><a href="">选择产品</a></div>-->
    <!--<ul>-->
        <!--<li class="bgg-li1 on">第一步：选择产品</li>-->
        <!--<li class="bgg-li2">第二步：绑定理财师</li>-->
        <!--<li class="bgg-li3">第三步：绑定完成</li>-->
    <!--</ul>-->
    <!--<h3><span>选择您喜欢的产品</span></h3>-->
    <!--<div class="bgg-ctr">-->
        <!--<p ng-click="statusCard()" class="{{card_on}}"><img src="../../images/binding-pic04.png"/><span>邮币卡</span></p>-->
        <!--<p ng-click="statusMetal()" class="{{metal_on}}"><img src="../../images/binding-pic05.png"/><span>贵金属</span></p>-->
    <!--</div>-->
    <!--<a ng-click="next()" class="bgg-btna">下一步</a>-->
<!--</div>-->

<!--header-->
<div class="header">
    <a href="" ng-click="back()"><img src="../images/header-pic01.png"/></a>
    <span>我的理财师</span>
</div>
<!--bingding1-->
<div class="bd1 bingding">
    <h2>选择你喜欢的产品</h2>
    <div>
        <a ng-click="statusCard()" class="{{card_on}}" href="">
        <img src="../images/binding1-pic01.png"/><span>邮币卡</span>
        </a>
        <a ng-click="statusMetal()" class="{{metal_on}}" href="">
        <img src="../images/binding1-pic02.png"/><span>贵金属</span>
        </a>
    </div>
    <a href="" ng-click="next()" class="nexta">下一步</a>
</div>