<!--<div class="main-rgt binging">-->
    <!--<h2>我的理财师</h2>-->
    <!--<div class="position"><a href="">我的理财师</a>><a href="">绑定成功</a></div>-->
    <!--<ul>-->
        <!--<li class="bgg-li1">第一步：选择产品</li>-->
        <!--<li class="bgg-li2">第二步：绑定理财师</li>-->
        <!--<li class="bgg-li3 on">第三步：绑定完成</li>-->
    <!--</ul>-->
    <!--<img src="../../images/binding-pic08.png"/>-->
    <!--<h3><span>恭喜你分配成功</span></h3>-->
    <!--<a ng-click="next()" class="bgg-btna">进入对话</a>-->
<!--</div>-->

<!--header-->
<div class="header">
    <a href="" ng-click="back()"><img src="../images/header-pic01.png"/></a>
    <span>绑定成功</span>
</div>
<!--bingding1-->
<div class="bd3 bingding">
    <h2>恭喜您分配成功</h2>
    <img src="../images/bd3-pic01.png"/>
    <a href="" ng-click="next()" class="nexta">进入聊天室</a>
</div>